.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  height: 10vmin;
  pointer-events: none;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
}

.left-header {
  display: flex;
  justify-content: center;
  flex: 3;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.right-header span {
  cursor: pointer;
  color: #61dafb;
  text-decoration: underline;
}